.cardvideoedit{
    width: 290px;

    //margin-bottom: 45px;
    padding: 12px;
    cursor: pointer;
    img{
        width: 100%;
        background-color: gray;
        height: 202px;
    }
    .header{
        display: flex;
        justify-content: space-between;
    
        .overflow-wrap{
            width: 100%;
            height: fit-content;

            font-size: 16px;
            
            
            
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
              font-weight: bold;
        
    
        }   
        .container{
            position: relative;
            display: inline-block;
            display: flex;
            flex-direction: column;
            gap: 1cm;
            .button{
                //padding-right: 100px;
               /* width: 50px;
                
                border: 0;
                background-color: transparent;
                color: #333;
                cursor: pointer;
                outline: 0;
                font-size: 40px;*/
                
               
                
            }
        .dropdown {
           top: 0px;
            position: absolute;
            //left: -300px;
            right:0;
            z-index: 2;
            bottom: 0.4px;
            transition: all 0.5s ease;
            width: 200px;
            background-color: #cccccc ;
            overflow-y: hidden;
            height: fit-content;
            border-radius: 5px;
            
          
          
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                        hr{
                          margin-left: 0.5cm;
                          margin-right: 0.5cm;
                            border:  0.5px solid black;
                        }
                        
                        
                
                        li {
                            padding: 8px 12px;
                            &.disabled{
                          
                                pointer-events:none; //This makes it not clickable
                                opacity:0.6;         //This grays it out to look disabled
                            }
                        }
                        
                        li:hover {
                            background-color: rgba(0, 0, 0, 0.14);
                            cursor: pointer;
                        }
                    }
                    &.hide{
                        display: none;
                    }
                }
            }        
    }
    .info{
        font-size: 14px;
    }

   
    
   
}
.dis{
    display: none;
}