.comment{
    display: flex;
    margin-top: 17px;
            gap: 12px;
            width: 100%;
           
            
            .channel{
                width: 40px;
                height: 36px;
                    border-radius: 50%;
                    background-color: gray;
            }
            .texts{
                display: flex;
                flex-direction: column;
                width: 100%;
                .info{
                    
                    display: flex;
                    align-items: center;
                    
                    span{
                        padding-left: 2mm;
                        font-size: 13px;
                    }
                }
                .comm{
                    margin: 10px;
                   
                }
                &.dark{
                    color: white;
                }
            }
}